
<div class="page-layout">
  <div class="container">
    <h1>Forgot Password</h1>
    <p>Please enter your email address to receive a password reset link.</p>
    <form (submit)="onSubmit()">
      <!-- Email Input -->
      <input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        placeholder="Your Email" 
        required 
        class="input" 
      />

      <!-- Submit Button -->
      <button type="submit" [disabled]="isLoading" class="button">
        <div *ngIf="isLoading" class="loading-indicator">
          <p>Sending link...</p>
          <div class="spinner"></div> <!-- Example spinner -->
        </div>
        <div *ngIf="!isLoading">Send Reset Link</div>
      </button>
    </form>

    <!-- Back to Login -->
    <div class="additional-links">
      <a href="/login">Back to Login</a>
    </div>
  </div>
</div>
